
.body {
    background-color:#fff;
    
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
    
}
.container-1{
    background-color: rgb(247, 216, 245);
    height: 800px;
    margin-left:0px;
    padding: 0px;

}

.logo img{
    margin-left: 50px;
    margin-top: 50px;
}
.navbar{
        width: 238px;
        height: 24px;
        background-color: transparent;
        display: flex;
        margin-left: 400px;
        font-size: larger;
        margin-top: 0px;
    
}
.items ul {
    list-style-type: none;
    margin: 0;
    padding: 10px 20px;
    display: flex;
    justify-content: flex-start;

}
.navbar li a {
    text-decoration: none;
    padding: 20px;
    margin: 0px;
    color: aliceblue;
    color: black;
}


.btn{
        background-color: rgb(247, 77, 210);
        color: #fff;
        border: transparent;
        width: 70px;
        text-align: center;
        height: 25px;
}
.container-2{
    width: 1263.33px;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Pic img{
    height: 400px;
    margin-left: 100px;
    margin-top: 0px;
} 
.text h1{
    margin-top:50px;
    font-weight: bolder;
    font-size:4rem ;
}
.text h4{
    font-weight:100;
    text-align: left;
    width:500px;
}
.text1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.text1 h2{
    font-weight: bolder;
    font-size: 3rem;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}
.text1 h3{
    padding: 17px;
    font-weight: 100;
    font-size:large;
    margin-top: 50px;
}
.container-3{
    background-color: #fff;
    margin: 0px;
    padding: 0px;
    width: 1263.33px;
    height: 800px;
}

.topicons{
    display: flex;
    justify-content: center;
    align-items: center;

}
.topicons img{
    height: 70px;
    width: 170px;
    margin-top: 100px;
}
.text2 h1{
    text-align: center;
    font-weight:1500;
    font-size: 4rem;
    margin-top: 100px;
}
.text2 h4{
    text-align: center;
    font-weight:lighter;
    font-size:large ;
    margin-top: 20px;
}
.bottom-img{
    display: flex;
    justify-content: space-around;
    align-items: center;
 
}
.bottom-img img{
    height: 200px;
    margin-top: 50px;
}
.text-3{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}
.text-3 h1{
    font-weight: bold;
    font-size: x-large;
    margin-top: 20px;
}
.content{
    display: flex;
   justify-content: space-around;
   align-items: center;
}
.content h5{
    font-weight:100;
    font-size: large;
    text-align: center;
    margin-top: 0px;
}
.container-4{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.container-4 img{
        height: 400px;
        margin-top: 50px;    
}
.container-4 h1{
    
    font-weight: bold;
    font-size: 3rem;
    text-align: left;
    margin-top: 50px;
}
.container-4 h4{
    font-weight:100;
    font-size: x-large;
    text-align: left;
    margin-top: 100px;

}
.container-4 h3{

    font-weight:100;
    font-size: 1rem;
    text-align: left;
}
.container-4 h2{
    width: 400px;
    font-weight: bold;
    font-size: 2rem;
    text-align: left;
}
.container-4 ol li{
    list-style:disc;
    width: 400px;
    font-weight: 100;
    font-size: 1rem;
    text-align: left;
    margin-top: 10px;

}
.container-5{
    display: flex;
    justify-content:center;
    align-items: center;
    margin-top:100px ;
    list-style: disc;
}
.container-5 h5{
    
    width: 500px;
    font-weight: 100;
    font-size: 1rem;
    text-align: left;
}
.container-5 h1{
    
    width: 500px;
    font-weight: bolder;
    font-size: 3rem;
    text-align: left;
}
.container-5 ol li{
    font-weight:100;
    list-style: disc;
    font-size: small;
    width: 500px;
    margin-top: 10px;
}
.btn1{
    font-weight:bolder ;
    border: 2px black solid;
    background-color: white;
    height: 40px;
    width: 200px;
    margin-top: 50px;
}
.cards-container
{
    width: 500px;
    height:300px;
    background-color: #bfb9b9;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   
    
}
.card1{
    width: 200px;
    height:170px;   
    background-color: #fff;
    border: transparent;
    border-radius: 5px;
    text-align: center;
    margin: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding-top: 10px;
    font-size: small;
}
.card2{
    width: 200px;
    height:170px;   
    background-color:#fff;
    border:transparent;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    margin: 20px;
    font-size: small;
    padding-top: 10px;
}
.card3{
    width: 200px;
    height:170px;   
    background-color: #fff;
    border: transparent;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    margin: 20px;
    font-size: small;
    padding-top: 10px;
}
.card4{
    width: 200px;
    height:170px;   
    background-color: #fff;
    border:transparent ;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    text-align: center;
    margin: 20px;
    font-size: small;
    padding-top: 10px;
}
.card1 h4{
    text-align: center;
    margin-top: 30px;
    font-size: small;
    font-weight: lighter;
}
.card2 h4{
    margin-top: 30px;
    font-size: small;
    font-weight: lighter;
    text-align: center;
}
.card3 h4{
    margin-top: 30px;
    font-size: small;
    font-weight: lighter;
    text-align: center;
}
.card4 h4{
    margin-top: 30px;
    font-size: small;
    font-weight: lighter;
    text-align: center;
}
.container-6{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 100px;
}
 .container-6 img{
            height:600px;      
}
.text-5 h1{
    width: 300px;
    margin-top: 75px;
    font-weight: bolder;
    font-size: 2rem;
    text-align: left;    
}
.text-5 h4{
    width: 300px;
    font-weight: lighter;
    font-size: 1rem;
    text-align: left;
}
.text-5 ol li {
    list-style:disc;
    font-size: 1rem;
    font-weight: lighter;
    width: 300px;
}
.container-7{

    display: flex;
    justify-content: center;
    align-items: center;

}
.Numbers{
    display: flex;
    flex-direction: column;
    margin: 0px;

}
.No-1 {
    margin-top:100px ;
    font-size: large;
    color: #fff;
    background-color: black;
    border:transparent;
    background-color: rgb(253, 9, 151);
    width: 50px;
    height: 50px;
    text-align: center;
    padding-top: 15px;
    border-radius:150px ;
    font-size: 10px;
    font-weight: bolder;

}
.No-2{
    margin-top: 100px;
    font-size: large;
    color: #fff;
    background-color: black;
    border:transparent;
    background-color: rgb(253, 9, 151);
    width: 50px;
    height: 50px;
    text-align: center;
    padding-top: 15px;
    border-radius:150px ;
    font-size: 10px;
    font-weight: bolder;

}

.No-3{
    margin-top: 100px;
    font-size: large;
    color: #fff;
    background-color: black;
    border:transparent;
    background-color: rgb(253, 9, 151);
    width: 50px;
    height: 50px;
    text-align: center;
    padding-top: 15px;
    border-radius:150px ;
    font-size: 10px;
    font-weight: bolder;
}


.txt1 h2{
    margin-left: 50px;
    margin-top:130px;
    padding: 0px;
}
.txt1 p{
    margin-left: 50px;
    margin-top: 20px;
    width: 500px;
}
.txt2 h2{
    margin-left: 50px;
    margin-top:50px;
    padding: 0px;
}
.txt2 p{
    margin-left: 50px;
    margin-top: 20px;
    width: 500px;
}
.txt3 h2{
    margin-left: 50px;
    margin-top:50px;
    padding: 0px;
}
.txt3 p{
    margin-left: 50px;
    margin-top: 20px;
    width: 500px;
}


.cont-img{
    width: 50%;
    height: 400px;
    overflow: hidden;
    margin-top: 100px;
}
.container-7 img{
        margin-left: 150px;
        width: 200%;
        height: auto;
        object-fit: cover;
        object-position: left;
}
.container-8{
    margin-top: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.container-8 img{
    height: 500px;
}
.container-8 h1{
    font-weight:bolder;
    font-size:3rem ;
    width: 500px;
}
.container-8 h3{
    font-weight:bolder;
    font-size:2rem ;
    width: 500px;
}
.container-8 h5{
    font-weight:lighter;
    font-size:1rem ;
    width: 500px;
}
.container-8 ol li{
    list-style-type: disc;
    margin-top: 20px;
    width: 500px;
}
.container-9{
    margin-top: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.container-9 img{
    height: 400px;
    width: 500px;
}
.container-9 h1{
    font-weight:bolder;
    font-size:3rem ;
    width: 400px;
}
.container-9 h3{
    font-weight:bolder;
    font-size:2rem ;
}
.container-9 h5{
    font-weight:lighter;
    font-size:1rem ;
}
.container-9 ol li{
    list-style-type: disc;
    margin-top: 20px;
    margin-left:150px;
    width: 400px;
}
.container-10{
margin-top: 100px;
background-color: rgb(221, 227, 255);
margin-left:0px;
margin-right: 0px;
padding: 0px;
height:750px
}
.container-10 h1{
    text-align: center;
    font-size: 3rem;
    font-weight: bolder;
    margin-left: 100px;
    padding-top: 100px;
}
.container-10 h4{
    text-align: center;
    font-size: 1rem;
    font-weight: lighter;
    margin-left: 100px;
    margin-top: 50px;
}
.container-10 img{
    height: 500px;
    width: 800px;
    margin-left: 250px;
    margin-top: 50px;
}
.text-10{
    display: flex;
    justify-content: center;
    align-items: center;
}
.text-10 h2{
    font-weight: bolder;
    font-size: 3rem;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    padding-left: 10px;
}
.text-10 h3{
    padding-top: 40px;
    padding-left: 20px;
    font-weight: 100;
    font-size:large;
}
.container-11{
    margin-top: 100px;
       
}
.container-11 h1{
    margin-top: 300px;
    text-align: center;
    font-weight: bolder;
    font-size: 3rem;
}
.container-11 h4{
    text-align: center;
    font-weight: lighter;
    font-size: 1rem;
}
.squares{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.square-1{
    width: 400px;
    height: 400px;
    background-color:  rgb(206, 200, 210);
    border: transparent;
    border-radius: 10px;
}
.square-2{
    width: 400px;
    height: 400px;
    background-color:  rgb(206, 200, 210);
    border: transparent;
    border-radius: 10px;
}
.square-1 h1{
    margin-top: 50px;
    font-weight: bolder;
    font-size: 2rem;
}
.square-2 h2{
    margin-top: 30px;
    text-align: center;
    font-weight: bolder;
    font-size: 2rem;
}
.square-2 img{
    height: 150px;
    margin-left: 75px;
    margin-top: 50px;
}
.square-1 img{
    height: 150px;
    margin-top: 20px;
    margin-left: 70px;
}
.container-12{
    /*width: 1200px;
    height:600px;*/
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}

.top h1{
    margin-top: 100px;
    text-align: center;
    font-weight: bolder;
    font-size: 3rem;
}
.text-12 h2{
    margin-top: 20px;
    text-align: left;
    font-weight: bolder;
    font-size: 2rem;
    
}
.text-12 h3{
    margin-top: 20px;
    text-align: left;
    font-weight: lighter;
    font-size: 1rem;
    width: 500px;
}
.container-12 img{
        height: 400px;
        margin-top: 50px;
}
.cont-img{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-13{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}
.img1 img{
    margin-left: 200px;
    margin-top: 50px;
    height:200px;
    border: transparent;
    border-radius: 10px;
}
.img-1 img{
    margin-left: 20px;
    width: 500%;
    height: 100px;
    background-size: contain;
    border: transparent;
    border-radius: 10px;
}
.img-2 img{
    margin-top: 10px;
    margin-left: 20px;
    border: transparent;
    border-radius: 10px;
    height: 100px;
    width: 350%;
}
.text-13 h4{
    font-weight:lighter ;
    font-size: 1rem;
    text-align: left;
    margin-left: 200px;
}
.text-13 h1{
    margin-top: 50px;
}
.text-13 ol li{

    list-style-type: disc;
    margin-left: 200px;
    font-size:1rem;
    font-weight:lighter ;
    text-align: left;
    margin-top: 20px;
}
.container-14 h1{
    font-size:3rem;
    font-weight: bolder;
    margin-top: 100px;
    text-align: center;
}
.container-14 h4{
    font-size: 1rem;
    margin-top: 20px;
    font-weight: lighter;
    text-align: center;
}
.logo-cont{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.col-1 h1{
    font-weight: bolder;
    font-size:large;
}
.col-1 h4{
    font-weight: lighter;
    font-size: small;
}
.col-2 h1{
    font-weight: bolder;
    font-size:large;
}
.col-2 h4{
    font-weight: lighter;
    font-size: small;
}

.col-3 h1{
    font-weight: bolder;
    font-size:large;
}
.col-3 h4{
    font-weight: lighter;
    font-size: small;
}
.buttn{
    display: block;
    margin: auto;
    margin-top: 50px;
    text-align: center;
    width:200px;
    height:30px;
    border: 2px solid black;
    border-radius: 5px;
    background-color: #fff;
}
.zapier img{
    vertical-align:bottom;
    padding-top: 5px;
    
}
.Hubspot img{
    vertical-align:bottom;
    padding-top: 5px;
    
}
.Dropbox img{
    vertical-align:bottom;
    padding-top: 5px;
    
}
.GoogleAnalytics img{
    vertical-align:bottom;
    padding-top: 5px;
    
}
.MailChimp img{
    vertical-align:bottom;
    padding-top: 5px;
    
}
.Trello img{
    vertical-align:bottom;
    padding-top: 5px;
    
}
.Amplitude img{
    vertical-align:bottom;
    padding-top: 5px;
    
}
.Slack img{
    vertical-align:bottom;
    padding-top: 5px;
    
}
.Googledrive img{
    vertical-align:bottom;
    padding-top: 15px;
    
}
.container-15 h1{
    font-size:3rem;
    font-weight:bolder;
    text-align: center;
    margin-top: 100px;
}
.container-15 h4{
    font-size: 1rem;
    margin-top: 20px;
    text-align: center;
}
.Googledrive h4{
    margin-left:20px;
}
.GoogleAnalytics h4{
    text-align: center;
    margin-left: 20px;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.box-1{
    width: 500px;
    height: 300px;
    font-size: small;
    border:transparent;
    border-radius: 2px;
    margin-top: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding-left: 30px;
    padding-top: 50px;
    
}
.box-2{
    width: 500px;
    height: 270px;
    font-size: small;
    border: transparent;
    border-radius: 2px;
    margin-top: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin-left: 30px;
    padding-left: 30px;
    padding-top: 30px;
    display: inline-block;
}
.box-3{
    width: 500px;
    height: 300px;
    font-size: small;
    border: transparent;
    border-radius: 2px;
    margin-top: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin-left: 30px;
    text-align: left;
    padding-left: 30px;
    padding-top: 50px;
    display: inline-block;
}
.box-1 h1{
    font-size: small;
    margin-top: 70px;
    text-align: left;
    
}
.box-1 img{
    height: 50px;
    border: transparent;
    border-radius: 50px;
    margin-top: 0px;
    float: left;
    clear: left;
}
.box-1 h4{
    font-size: smaller;
    margin: 0px;
    text-align: left;
}
.box-2 h1{
    font-size: small;
    text-align: left;
    padding-top: 20px;
}
.box-2 img{
    height: 50px;
    border: transparent;
    border-radius: 50px;
    float: left;
    clear: left;
    margin-top: 0px;
}
.box-2 h4{
    font-size: smaller;
    margin: 0px;
    text-align: left;
}
.box-3 h1{
    font-size: small;
    margin-top: 50px;
    margin-left: 0px;
    text-align: left;
    
}
.box-3 img{
    height: 50px;
    border: transparent;
    border-radius: 50px;
    float: left;
    clear: left;
}
.box-3 h4{
    font-size: smaller;
    margin: 0px;
    text-align: left;
}
.container-17{
    display: flex;
    justify-content: center;
   align-items: center;
   margin-top: 100px;
   
}
.purple-box{
    width:70%;
    height:370px ;
    background-color: rgb(73, 2, 127);
    border: transparent;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.purple-box h1{
    text-align: center;
    color: #fff;
    margin-top: 0px;
}
.purple-box h4{
    text-align: center;
    color: #fff;
    padding-top: 30px;
}
.purple-box h3{
    
    color: #fff;
    border: 2px transparent;
    border-radius: 1px;
    width: 200px;
    text-align: center;
    background-color: rgb(241, 9, 210);
}

.purple-box h5{
    text-align: center;
    color: #fff;
    padding-top: 30px;
}
.container-18{
    margin-top: 10px;
    padding: 0px;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    margin-left: 100px;

}
.footer-img img{
    height: 30px;
    margin-top: 100px;
}
.footer-col1 h1{
    margin-top: 100px;
    font-size:large;
    font-weight:bolder;
}
.footer-col1 h4{
    font-size:small;
    font-weight:lighter;
    margin-top: 20px;
}
.footer-col2 h1{
    font-size:large;
    font-weight:bolder;
    margin-top: 100px;
}
.footer-col2 h4{
    font-size:small;
    font-weight:lighter;
    margin-top: 20px;
}
.footer-col3 h1{
    font-size:large;
    font-weight:bolder;
    margin-top: 100px;
}
.footer-col3 h4{
    font-size:small;
    font-weight:lighter;
    margin-top: 20px;
}

.footer-col4 h1{
    font-size:large;
    font-weight:bolder;
    margin-top: 100px;
}
.footer-col4 h4{
    font-size:small;
    font-weight:lighter;
    margin-top: 20px;
}
.socialmedia{
    margin-left: 120px;
}

.socialmedia a{
    display: inline-flex;
    width: 40px;
    height: 40px;
    background: transparent;
    border-radius: 50%;
    font-size: 20px;
    text-decoration: none;
    margin: 20px 1px 20px 0;
}
.line{
    width: 100px;
    height: 2px;
    color:rgb(161, 172, 181) ;
    margin-left: 500px;
    margin-top: 20px;
}
.last-item{
    margin-top: 50px;
}
.last-item h3{
    font-size:small ;
    font-weight: normal;
    text-align: left;
    margin-left: 10px;
}
.last-item h4{
    font-size:small ;
    font-weight: normal;
    text-align: right;
}
